/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-08-2018, 18:56:25
    Author     : Sebastian
*/

@font-face {
  font-family: 'Wuerth Book';
  src: url('WuerthBook.ttf') format('truetype'),
       url('WuerthBook_1.woff') format('woff'),
       url('WuerthBook.woff2') format('woff2');
}

@font-face {
  font-family: 'Wuerth Bold';
  src: url('WuerthBold.ttf') format('truetype'),
       url('WuerthBold.woff2') format('woff2');
}